{% extends 'base.html' %}

{% block content %}
<div class="row">

<!--
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Upload">
  </form>


  {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
  {% endif %}
-->

  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <label for="upload" class="form-label mt-4">Scan your barcode</label>
    <input class="form-control" type="file" name="image" accept="image/*" required id="id_image">
    <br>
    <input type="submit" class="btn btn-primary" value="Upload">
  </form>

</div>

{% endblock  %}
